tensorstore==0.1.71
tokenizers==0.22.1
aiohttp==3.13.0
torchao==0.14.1
mdurl==0.1.2
megatron-core==0.14.0
Jinja2==3.1.6
Janome==0.5.0
nest-asyncio==1.6.0
wheel==0.45.1
addict==2.4.0
bitsandbytes==0.49.0
nemo_text_processing==1.1.0
jsonschema-specifications==2025.9.1
mypy_extensions==1.1.0
diffusers==0.36.0
pooch==1.8.2
stack-data==0.6.3
graphviz==0.21
beautifulsoup4==4.14.2
ijson==3.4.0.post0
parso==0.8.5
nemo_run==0.4.0
more-itertools==10.8.0
scipy==1.16.2
nltk==3.9.2
cuda-python==13.0.3
shellingham==1.5.4
RapidFuzz==3.14.3
torchaudio==2.8.0
jieba==0.42.1
pydantic==2.11.10
resampy==0.4.3
requests==2.32.5
librosa==0.11.0
dill==0.4.0
Flask-RESTful==0.3.10
cuda-pathfinder==1.3.2
nvidia-nccl-cu12==2.27.3
h5py==3.14.0
zipp==3.23.0
typer==0.20.0
docutils==0.21.2
pure_eval==0.2.3
pypinyin==0.55.0
httpx==0.28.1
inflect==7.5.0
traitlets==5.14.3
pexpect==4.9.0
fonttools==4.60.1
nv-one-logger-pytorch-lightning-integration==2.3.1
numba==0.62.1
sphinxcontrib-htmlhelp==2.1.0
datasets==4.2.0
nvidia-cuda-nvrtc==13.0.88
Cython==3.2.1
decord==0.6.0
multi-storage-client==0.35.0
textdistance==4.6.3
certifi==2025.8.3
timm==1.0.22
nvidia-cuda-runtime==13.0.96
sphinxcontrib-bibtex==2.6.5
torchdiffeq==0.2.5
sniffio==1.3.1
trampoline==0.1.2
nemo-toolkit==2.7.0rc0
ipython_pygments_lexers==1.1.1
markdown-it-py==4.0.0
itsdangerous==2.2.0
xxhash==3.6.0
llvmlite==0.45.1
kaldifst==1.7.17
fasteners==0.20
nvidia-nvjitlink==13.0.88
soxr==1.0.0
braceexpand==0.1.7
av==16.0.1
docker==7.1.0
babel==2.17.0
nerfacc==0.5.3
catalogue==2.0.10
annotated-types==0.7.0
sphinxcontrib-jsmath==1.0.1
tabulate==0.9.0
sphinxcontrib-serializinghtml==2.0.0
tensorboard-data-server==0.7.2
lazy_loader==0.4
referencing==0.37.0
optuna==4.6.0
nvidia-resiliency-ext==0.5.0
pangu==4.0.6.1
pybtex-docutils==1.0.3
prettytable==3.17.0
pytest-runner==6.0.1
urllib3==2.5.0
multidict==6.7.0
setuptools==80.9.0
msgspec==0.20.0
trimesh==4.9.0
num2words==0.5.14
ipykernel==6.30.1
charset-normalizer==3.4.3
bracex==2.6
safetensors==0.6.2
multiprocess==0.70.16
cffi==2.0.0
click==8.3.0
Deprecated==1.3.1
zarr==2.18.7
nvidia-curand-cu12==10.3.9.90
snowballstemmer==3.0.1
lilcom==1.8.1
ruamel.yaml.clib==0.2.15
kiwisolver==1.4.9
pystoi==0.4.1
sphinxcontrib-applehelp==2.0.0
hydra-core==1.3.2
wcwidth==0.2.14
nvidia-cufile-cu12==1.13.1.3
pandas==2.3.3
ftfy==6.3.1
pytest==9.0.1
Markdown==3.10
httpcore==1.0.9
executing==2.2.1
cuda-core==0.4.2
fiddle==0.3.0
lxml==6.0.2
Mako==1.3.10
wandb==0.22.1
matplotlib-inline==0.1.7
SQLAlchemy==2.0.44
latexcodec==3.0.1
nvidia-cusolver-cu12==11.7.3.90
lightning-utilities==0.15.2
attrdict==2.0.1
aiosignal==1.4.0
nvidia-modelopt==0.37.0
invoke==2.2.1
rpds-py==0.29.0
onnx==1.19.1
boto3==1.41.2
aiohappyeyeballs==2.6.1
regex==2025.9.18
ml_dtypes==0.5.4
sphinxcontrib-qthelp==2.0.0
hf_transfer==0.1.9
libcst==1.8.6
pyloudnorm==0.1.1
indic_numtowords==1.1.0
markdown2==2.5.4
ffmpeg==1.4
cuda-bindings==13.0.3
pydantic_core==2.33.2
audioread==3.1.0
h11==0.16.0
pyzmq==27.1.0
einops-exts==0.0.4
typing-inspection==0.4.2
faiss-cpu==1.13.0
paramiko==4.0.0
fabric==3.2.2
opentelemetry-api==1.38.0
gitdb==4.0.12
alabaster==1.0.0
text-unidecode==1.3
asciitree==0.3.3
cytoolz==1.1.0
nvidia-cuda-runtime-cu12==12.8.90
ipython==9.6.0
triton==3.4.0
jmespath==1.0.1
networkx==3.5
peft==0.17.1
progress==1.6.1
flashlight-text==0.0.7
pfzy==0.3.4
wcmatch==10.1
nvidia-ml-py==13.580.82
threadpoolctl==3.6.0
tqdm==4.67.1
numcodecs==0.15.1
tzdata==2025.2
inquirerpy==0.3.4
botocore==1.41.2
packaging==25.0
tensorboard==2.20.0
blinker==1.9.0
OpenCC==1.1.9
scikit-learn==1.7.2
isort==5.13.2
kornia_rs==0.1.10
toml==0.10.2
frozenlist==1.8.0
xattr==1.3.0
accelerated-scan==0.2.0
colorlog==6.10.1
sympy==1.14.0
nvidia-cuda-cupti-cu12==12.8.90
intervaltree==3.1.0
pesq==0.0.4
pytz==2025.2
jupyter_client==8.6.3
ImageIO==2.37.2
asttokens==3.0.0
pyannote.metrics==3.2.1
jiwer==3.1.0
tornado==6.5.2
cut-cross-entropy==25.1.1
sentencepiece==0.2.1
protobuf==6.32.1
importlib_metadata==8.7.0
PuLP==3.3.0
hf-xet==1.1.10
python-dateutil==2.9.0.post0
PyNaCl==1.6.1
sacrebleu==2.5.1
coverage==7.12.0
torchprofile==0.0.4
lark==1.3.1
soupsieve==2.8
open-clip-torch==2.24.0
future==1.0.0
riva-asrlib-decoder==0.4.4
webdataset==1.0.2
xformers==0.0.32.post2
nvidia-cusparse-cu12==12.5.8.93
greenlet==3.2.4
contourpy==1.3.3
pydub==0.25.1
s3fs==0.4.2
toolz==1.1.0
jedi==0.19.2
GitPython==3.1.45
edit-distance==1.0.7
qwen-vl-utils==0.0.14
nvidia-cudnn-cu12==9.10.2.21
sox==1.5.0
mpmath==1.3.0
kaldi-python-io==1.2.2
Werkzeug==3.1.3
brainaudio==0.1.0
debugpy==1.8.17
whisper_normalizer==0.1.12
matplotlib==3.10.6
bcrypt==5.0.0
unsloth_zoo==2025.12.4
kornia==0.8.2
black==24.10.0
cdifflib==1.2.6
six==1.17.0
lhotse==1.32.1
grpcio==1.76.0
Distance==0.1.3
nvidia-cuda-nvrtc-cu12==12.8.93
einops==0.8.1
pypinyin-dict==0.9.0
nvidia-cuda-cccl==13.0.85
parameterized==0.9.0
psutil==7.1.0
torchvision==0.23.0
soundfile==0.13.1
fsspec==2025.9.0
pytest-mock==3.15.1
jupyter_core==5.8.1
cryptography==42.0.8
cloudpickle==3.1.2
pillow==11.3.0
yarl==1.22.0
Pygments==2.19.2
rich==14.2.0
propcache==0.4.1
prompt_toolkit==3.0.52
marshmallow==4.1.0
sphinxcontrib-devhelp==2.0.0
MarkupSafe==3.0.3
taming-transformers==0.0.1
nvidia-cusparselt-cu12==0.7.1
typing_extensions==4.15.0
docstring_parser==0.17.0
defusedxml==0.7.1
smmap==5.0.2
ptyprocess==0.7.0
docopt==0.6.2
pybtex==0.25.1
imagesize==1.4.1
typeguard==4.4.4
absl-py==2.3.1
comm==0.2.3
wget==3.2
unsloth==2025.12.5
lightning==2.5.6
torchmetrics==1.8.2
ruamel.yaml==0.18.16
torchx==0.7.0
torch==2.8.0
transformers==4.57.3
pynini==2.1.6.post1
huggingface-hub==0.35.3
torchsde==0.2.6
numba-cuda==0.20.1
StrEnum==0.4.15
portalocker==3.2.0
nvidia-nvvm==13.0.88
jsonschema==4.25.1
pytest_httpserver==1.1.3
PySocks==1.7.1
numpy==2.3.3
wrapt==2.0.1
nv-one-logger-core==2.3.1
g2p-en==2.1.0
s3transfer==0.15.0
msgpack==1.1.2
overrides==7.7.0
tiktoken==0.7.0
gdown==5.2.0
mediapy==1.1.6
sortedcontainers==2.4.0
Sphinx==8.2.3
accelerate==1.10.1
nv-one-logger-training-telemetry==2.3.1
trl==0.23.1
nvidia-cufft-cu12==11.3.3.83
alembic==1.17.2
pluggy==1.6.0
pyannote.core==5.0.0
sentry-sdk==2.39.0
typing-inspect==0.9.0
decorator==5.2.1
utmosv2==1.2.1
attrs==25.4.0
joblib==1.5.2
idna==3.10
omegaconf==2.3.0
pyannote.database==5.1.3
nvidia-nvjitlink-cu12==12.8.93
diskcache==5.6.3
pyparsing==3.2.5
ctc_segmentation==1.7.4
rouge_score==0.1.2
sacremoses==0.1.1
pyarrow==21.0.0
pyre-extensions==0.0.32
nvtx==0.2.13
PyYAML==6.0.3
sentence-transformers==5.1.2
tyro==1.0.1
nvidia-nvtx-cu12==12.8.90
aniso8601==10.0.1
pycparser==2.23
anyio==4.11.0
ninja==1.13.0
Flask==3.1.2
colorama==0.4.6
antlr4-python3-runtime==4.9.3
megatron-energon==5.2.0
cycler==0.12.1
platformdirs==4.4.0
numexpr==2.13.1
iniconfig==2.3.0
seaborn==0.13.2
pathspec==0.12.1
filelock==3.19.1
editdistance==0.8.1
kaldialign==0.9.1
nvidia-cublas-cu12==12.8.4.1
roman-numerals-py==3.1.0
pytorch-lightning==2.5.6
clip==0.2.0
jaraco.context==5.3.0
jaraco.collections==5.1.0
wheel==0.45.1
inflect==7.3.1
zipp==3.19.2
tomli==2.0.1
jaraco.functools==4.0.1
typeguard==4.3.0
platformdirs==4.2.2
typing_extensions==4.12.2
backports.tarfile==1.2.0
more-itertools==10.3.0
jaraco.text==3.12.1
autocommand==2.2.2
importlib_metadata==8.0.0
packaging==24.2
