# ===================================================================
#                       Shared Configuration
# This section contains parameters common to all models and experiments.
# ===================================================================
outputDir: '/data2/brain2text/b2t_combined/outputs/' # where to save trained model
datasetPath: ['/data2/brain2text/b2t_25/brain2text25_with_fa'] # neural dataset

device: 'cuda:0'
evaluate_wer: True
evaluate_every_n_epochs: 5
modelName: "tm_transformer_b2t25_unidir_small"
modelType: 'transformer'
optimizer: 'AdamW'
learning_rate: 0.001
beta1: 0.9
beta2: 0.999
eps: 1.0e-8
learning_scheduler: 'cosine'
n_epochs: 951
milestones: [400] # need to convert to batches
gamma: None # multiply learning rate by this factor at milestones
learning_rate_min: 0.0001
learning_rate_decay_steps: 120000 # in batches
learning_rate_warmup_steps: 1000 # in batches
batchSize: 64
nClasses: 40 
seed: 0
load_pretrained_model: ''
grad_norm_clip_value: 10

# time masking aug
num_masks: 20
max_mask_pct: 0.075

# original augs
whiteNoiseSD: 0.2
constantOffsetSD: 0.05
gaussianSmoothWidth: 2.0
smooth_kernel_size: 20
random_cut: 0
use_amp: true

# standard regularization techniques
l2_decay: 1.0e-5
input_dropout: 0.2
dropout: 0.35

# LM-related parameters
acoustic_scale: 0.6
lm_weight: 2.0
word_score: 0.1
beam_size: 30

# ===================================================================
#                    Model-Specific Configurations
# Each sub-section defines the architecture for a different model.
# ===================================================================
model:
  # --- GRU Model Arguments ---
  gru:
    name: 'GRU'
    year: '2024'
    nInputFeatures: 256
    nClasses: 40
    nUnits: 1024
    nLayers: 5
    bidirectional: True
    strideLen: 4
    kernelLen: 4
    nDays: 24

  # --- Transformer Model Arguments ---
  transformer:
    name: 'Transformer'
    features_list: [512] # For multiple dataset, order the feature list aligning with corresponding dataset
    samples_per_patch: 4
    d_model: 384       
    n_heads: 6      
    mlp_dim_ratio: 4 
    dim_head: 64 
    depth: 5
    chunked_attention:
      chunkwise_prob: 0.0 # 1.0 = always chunk, 0.0 = never chunk
      # chunk size in terms of how many patches. 
      # .inf means full context
      chunk_size_min: 1
      chunk_size_max: 1
      left_constrain_prob: 1.0 # 1.0 = always restric left context, 0.0 = never restrict
      # context size in terms of how many chunks.
      context_chunks_min: 100 # 10 sec given 100 ms patches
      context_chunks_max: 100 # 10 sec given 100 ms patches
      seed: 1
      eval:
        chunk_size: null
        context_chunks: null
        # If not chunking, set to None for both chunk_size and context_chunks

wandb:
  project: "nejm-brain-to-text" 
  entity: "lionelhu926-ucla"

  